/* css de l'acceuil qui comprend aussi le studio'*/
body {
    margin: 0;
    font-family: Arial, sans-serif;
}


.header {
    background-color: #f2f2f2;
    padding: 10px 0;
}

.nav-wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 90%;
    margin: 0 auto;
}


.logo-title img {
    width: 60px;
}


.main-nav {
    display: flex;
    align-items: center;
    gap: 20px;
}

.nav-buttons {
    display: flex;
    justify-content: center;
    gap: 15px;
}

.nav-btn {
    text-decoration: none;
    color: black;
    font-size: 15px;
}

.nav-btn:hover {
    color: orange;
}


.language-switcher {
    display: flex;
    align-items: center;
    gap: 5px;
}

.lang-btn {
    background: none;
    border: none;
    cursor: pointer;
}

.flag-icon {
    width: 18px;
}


.hero-section {
    text-align: center;
    margin-top: 20px;
}

.hero-media img {
    width: 100%;
    max-height: 350px;
    object-fit: cover;
}

.hero-logo img {
    width: 120px;
    margin-top: 20px;
}

.hero-text p {
    font-size: 24px;
    font-weight: bold;
    margin-top: 10px;
}


.studio-section {
    padding: 40px 0;
    background-color: white;
}

.studio-title h2 {
    text-align: center;
    margin-bottom: 20px;
}

.studio-content {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
}

.studio-image img {
    width: 250px;
    height: auto;

}

.studio-description p {
    font-size: 18px;
    max-width: 400px;
}

