<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Logo Bee Bridges Interactive</title>
    <link rel="stylesheet" href="Accueil.css">
</head>
<body>

<header class="header">
    <div class="container">
        <div class="nav-wrapper">
            <div class="logo-title">
                <img src="BBi.png" alt="Logo Bee Bridges Interactive">
            </div>
            <nav class="main-nav">
                <div class="nav-buttons">
                    <a href="#accueil" class="nav-btn">Accueil</a>
                    <a href="#studio" class="nav-btn">Studio</a>
                    <a href="#equipe" class="nav-btn">Equipe</a>
                    <a href="#projets" class="nav-btn">Projets</a>
                    <a href="#actualite" class="nav-btn">Actualité</a>
                    <a href="#partenaire" class="nav-btn">Partenaire</a>
                    <a href="#faq" class="nav-btn">FAQ</a>
                    <a href="#contact" class="nav-btn">Contact</a>
                    <a href="#playtest" class="nav-btn">Playtest</a>
                </div>
                <div class="language-switcher">
                    <button class="lang-btn active">FR
                        <img src="france.png" alt="Français" class="flag-icon">
                    </button>
                    <span>/</span>
                    <button class="lang-btn">ENG
                         <img src ="eng.png" alt="Anglais" class="flag-icon">
                    </button>
                </div>
            </nav>
        </div>
    </div>
</header>


<section class="hero-section">
    <div class="hero-media">
        <div class="placeholder-media">
            <img src="image.png" alt="image">
        </div>
    </div>
    <div class="hero-logo">
        <div class="logo-box">
            <img src="BBi.png" alt="Logo Bee Bridges Interactive">
        </div>
    </div>
    <div class="hero-text">
        <div class="text-box">
            <p>Bee Bridge Interactive</p>
        </div>
    </div>
</section>


<section class="studio-section">
    <div class="container">
        <div class="studio-title">
            <h3>Nos studio</h3>
        </div>
        <div class="studio-content">
            <div class="studio-image">
                <div class="placeholder-image">Image</div>
                <img src="studio.png" alt="Logo Bee Bridges Interactive">
            </div>
            <div class="studio-description">
                <div class="description-box">
                    <p>Nos développeurs travaillent dans des conditions optimales afin d’accomplir leurs tâches</p>
                </div>
            </div>
        </div>
    </div>
</section>
</body>
</html>


